[main]
file_path = "../private/default.xex"
out_directory_path = "../ppc"
switch_table_file_path = "./switch_table.toml"

skip_lr = false
skip_msr = false
ctr_as_local = false
xer_as_local = false
reserved_as_local = false
cr_as_local = false
non_argument_as_local = false
non_volatile_as_local = false

restgprlr_14_address = 0x826de8e0
savegprlr_14_address = 0x826de890
restfpr_14_address = 0x826dfb9c
savefpr_14_address = 0x826dfb50
restvmx_14_address = 0x826e1038
savevmx_14_address = 0x826e0da0
restvmx_64_address = 0x826e10cc
savevmx_64_address = 0x826e0e34

longjmp_address = 0x826e4f10
setjmp_address = 0x826e5030

functions = [
    { address = 0x8264C7C8, size = 0x68 },
    { address = 0x82636918, size = 0xD0 },
    { address = 0x8273C438, size = 0x4D8 },
    { address = 0x824A6180, size = 0x90 },
    { address = 0x82A97608, size = 0x64 },
    { address = 0x82775010, size = 0xD4 },
    { address = 0x8259A648, size = 0x84 },
    { address = 0x8273C110, size = 0x11C },
    { address = 0x821677D0, size = 0x7C },
    { address = 0x825B3A28, size = 0x84 },
    { address = 0x8273C368, size = 0xD0 },
    { address = 0x82912600, size = 0x11C },
    { address = 0x8244B920, size = 0x54 },
    { address = 0x82912A18, size = 0x254 },
    { address = 0x824C45B8, size = 0x50 },
    { address = 0x823D49A8, size = 0x1BC },
    { address = 0x8250F448, size = 0x98 },
    { address = 0x82763E28, size = 0x228 },
    { address = 0x828BFB18, size = 0x48 },
    { address = 0x82A97670, size = 0x5C },
    { address = 0x8223DF00, size = 0x144 },
    { address = 0x828B9CC8, size = 0x80 },
    { address = 0x8298D248, size = 0x100 },
    { address = 0x82218068, size = 0xA4 },
    { address = 0x8293F238, size = 0x114 },
    { address = 0x824C4550, size = 0x68 },
    { address = 0x82610860, size = 0x7C },
    { address = 0x821FDC28, size = 0x90 },
    { address = 0x82914568, size = 0x78 },
    { address = 0x8223EFE8, size = 0x14C },
    { address = 0x826103F0, size = 0x7C },
    { address = 0x82A975A0, size = 0x68 },
    { address = 0x8253B760, size = 0xEC },
    { address = 0x82833088, size = 0xB8 },
    { address = 0x82A976D0, size = 0x198 },
    { address = 0x829124F8, size = 0x100 },
    { address = 0x828A06B0, size = 0x114 },
    { address = 0x828C4B00, size = 0x1E4 },
    { address = 0x82333F80, size = 0xE8 },
    { address = 0x823D4768, size = 0x23C },
    { address = 0x821EE1C8, size = 0x5C },
    { address = 0x821EEAA8, size = 0xFC },
    { address = 0x825B4110, size = 0x5C },
    { address = 0x824C4498, size = 0xB4 },
    { address = 0x82217FC0, size = 0xA8 },
    { address = 0x827D9040, size = 0x380 },
    { address = 0x82A4B870, size = 0x78 },
    { address = 0x82A97868, size = 0x16C },
    { address = 0x82912728, size = 0x128 },
    { address = 0x82655978, size = 0x26C },
    { address = 0x82547890, size = 0x234 },
    { address = 0x8273C9B8, size = 0x364 },
    { address = 0x8223F138, size = 0xCC },
    { address = 0x82860FD0, size = 0x1A8 },
    { address = 0x829DA628, size = 0x70 },
    { address = 0x8223DD38, size = 0x1C4 },
    { address = 0x824ABA68, size = 0xE0 },
    { address = 0x824ABB10, size = 0x38 }
]

invalid_instructions = [
    { data = 0x00000000, size = 4 }, # Padding
    { data = 0x826E3E60, size = 8 }, # C++ Frame Handler
    { data = 0x82AEA1CC, size = 8 } # C Specific Frame Handler
    # { data = 0x00485645, size = 44 } # End of .text
]

[[midasm_hook]]
name = "SetMSAALevel"
address = 0x82607CD4
registers = ["r4"]

[[midasm_hook]]
name = "TitleTask_SetDefaultOption"
address = 0x82512B10
registers = ["r3", "r4"]

[[midasm_hook]]
name = "SetLifeBarAnimation"
address = 0x824D804C
registers = ["r3", "r4", "r5", "r31"]

[[midasm_hook]]
name = "SetLifeBarAnimation"
address = 0x824D80A8
registers = ["r3", "r4", "r5", "r31"]

[[midasm_hook]]
name = "SetLifeBarAnimation"
address = 0x824D8F34
registers = ["r3", "r4", "r5", "r31"]

[[midasm_hook]]
name = "SetRingBarIndex"
address = 0x824DEB40
registers = ["r5", "r31"]

[[midasm_hook]]
name = "PostureDisableEdgeGrabLeftover"
address = 0x82200568
registers = ["r31"]

[[midasm_hook]]
name = "BeginBlockGetName"
address = 0x82607850
registers = ["r3"]

[[midasm_hook]]
name = "PedestrianAnimationLOD"
address = 0x824C2808
registers = ["r29"]
after_instruction = true

[[midasm_hook]]
name = "MidairControlForMachSpeed"
address = 0x82210380
jump_address_on_true = 0x82210388

[[midasm_hook]]
name = "MidairControlForMachSpeed"
address = 0x822103B4
jump_address_on_true = 0x822103BC

[[midasm_hook]]
name = "MidairControlForSnowboards"
address = 0x82214710
jump_address_on_true = 0x82214714

[[midasm_hook]]
name = "MidairControlForSnowboards"
address = 0x8221487C
jump_address_on_true = 0x82214880

[[midasm_hook]]
name = "MidairControlForSnowboards"
address = 0x822145B8
jump_address_on_true = 0x822145BC

[[midasm_hook]]
name = "MidairControlForSnowboards"
address = 0x8221486C
jump_address_on_true = 0x82214870

[[midasm_hook]]
name = "GetRenderWorldFBO"
address = 0x8260D6EC
registers = ["r4"]

[[midasm_hook]]
name = "FurtherObjectShadows"
address = 0x8260D7E0
registers = ["r26"]

[[midasm_hook]]
name = "PlayerDebugMode_RegisterLuaSetup"
address = 0x82195AD0
registers = ["r5", "r27"]

[[midasm_hook]]
name = "PlayerDebugMode_RemapDebugExitButton"
address = 0x82221CA8 
registers = ["r30"]
jump_address_on_true = 0x82221CAC
jump_address_on_false = 0x82221CD8

[[midasm_hook]]
name = "DisableRadialBlur"
address = 0x82653834
jump_address_on_true = 0x82653840

[[midasm_hook]]
name = "DisableKingdomValleyMist"
address = 0x82311E50
jump_address_on_true = 0x82311E54

[[midasm_hook]]
name = "PostureControl_RotationSpeedFix"
address = 0x82201C6C
registers = ["f1", "r1"]

[[midasm_hook]]
name = "CriCueUpdateDeltaTimeFix"
address = 0x8260F238
registers = ["f13"]

[[midasm_hook]]
name = "PowerUpJingleDurationFix"
address = 0x8216CC28
registers = ["f31"]

# Overwrite
[[midasm_hook]]
name = "SaveAlertThreeOptionRemoveDeviceSelect"
address = 0x8238CCCC
registers = ["r5"]

# No Save Data
[[midasm_hook]]
name = "SaveAlertThreeOptionRemoveDeviceSelect"
address = 0x8238CE34
registers = ["r5"]

[[midasm_hook]]
name = "XmvPlayerLang"
address = 0x8264D844
registers = ["r11"]

[[midasm_hook]]
name = "CsbSbkLang"
address = 0x826124B0
registers = ["r8"]

[[midasm_hook]]
name = "CsbSbkLang"
address = 0x826121BC
registers = ["r8"]

[[midasm_hook]]
name = "CsbSbkLang"
address = 0x821784F8
registers = ["r8"]

[[midasm_hook]]
name = "MovieVoiceLang"
address = 0x8264B4E4
registers = ["r19"]

[[midasm_hook]]
name = "RenderCsdCastNodeMidAsmHook"
address = 0x828C8FBC
registers = ["r10", "r24"]

[[midasm_hook]]
name = "RenderCsdCastMidAsmHook"
address = 0x828C8FFC
registers = ["r4"]

# Redirect tagdisplay_2p to tagdisplay_1p
[[midasm_hook]]
name = "Load2PDisplayMidAsmHook"
address = 0x824DAE90
jump_address = 0x824DAE94

# Redirect battledisplay_2p to battledisplay_1p
[[midasm_hook]]
name = "Load2PDisplayMidAsmHook"
address = 0x824DADE8
jump_address = 0x824DADEC

[[midasm_hook]]
name = "TitleTask_RedirectStateTransitionToOutroAnim"
address = 0x82512C90
registers = ["r31"]
jump_address_on_true = 0x82512C9C

[[midasm_hook]]
name = "ControllableTeleportDash"
address = 0x8221C49C
jump_address_on_true = 0x8221C4A0

[[midasm_hook]]
name = "ControllableBoundAttack"
address = 0x82217EE0
jump_address_on_true = 0x82217EE4

[[midasm_hook]]
name = "ControllableBoundAttack"
address = 0x82217F1C
jump_address_on_true = 0x82217F20

[[midasm_hook]]
name = "ControllableBoundAttack2"
address = 0x82217DC8
registers = ["cr6"]
jump_address_on_true = 0x82217DD8
jump_address_on_false = 0x82217DCC

[[midasm_hook]]
name = "ControllableSpinkick"
address = 0x821A2984
jump_address_on_true = 0x821A2988

[[midasm_hook]]
name = "ControllableSpinkick"
address = 0x821A7A04
jump_address_on_true = 0x821A7A08

# Skip SPAABBTree initialisation for point light search
[[midasm_hook]]
name = "NOP"
address = 0x8258DBC4
jump_address = 0x8258DBE0

# Skip SPAABBTree initialisation for point light search
[[midasm_hook]]
name = "NOP"
address = 0x8258DF60
jump_address = 0x8258DF7C

# Skip SPAABBTree initialisation for point light search
[[midasm_hook]]
name = "NOP"
address = 0x8258E29C
jump_address = 0x8258E2B8

# Skip SPAABBTree initialisation for point light search
[[midasm_hook]]
name = "NOP"
address = 0x8258E598
jump_address = 0x8258E5B4

# Skip point light update optimisation
[[midasm_hook]]
name = "NOP"
address = 0x8258DC28
jump_address = 0x8258DC2C

# Skip point light update optimisation
[[midasm_hook]]
name = "NOP"
address = 0x8258DFC4
jump_address = 0x8258DFC8

# Skip point light update optimisation
[[midasm_hook]]
name = "NOP"
address = 0x8258E304
jump_address = 0x8258E308

# Skip point light update optimisation
[[midasm_hook]]
name = "NOP"
address = 0x8258E600
jump_address = 0x8258E604

[[midasm_hook]]
name = "TextEntityAlloc"
address = 0x825EDB70
registers = ["r3"]

[[midasm_hook]]
name = "TextEntityAlloc"
address = 0x825EDCEC
registers = ["r3"]

[[midasm_hook]]
name = "CameraImp_SetFOV"
address = 0x82590980
registers = ["f1"]

[[midasm_hook]]
name = "CameraImp_SetFOV"
address = 0x82590AB4
registers = ["f1"]

[[midasm_hook]]
name = "SonicCamera_InvertAzDriveK"
address = 0x82191D40
registers = ["f12"]

[[midasm_hook]]
name = "SonicCamera_InvertAltDriveK"
address = 0x82191E00
registers = ["f12"]

[[midasm_hook]]
name = "SonicCamera_RotationSpeedFix"
address = 0x82191DA0
registers = ["f0", "f31", "f13"]
jump_address = 0x82191DA4

[[midasm_hook]]
name = "SonicCamera_RotationSpeedFix"
address = 0x82191E28
registers = ["f0", "f31", "f13"]
jump_address = 0x82191E2C

[[midasm_hook]]
name = "RestoreChaosSpearFlips"
address = 0x821A6730
jump_address_on_true = 0x821A6734

[[midasm_hook]]
name = "RestoreChaosBoostJump"
address = 0x821A6988
registers = ["r10", "r11"]

[[midasm_hook]]
name = "RestoreChainJumpFlips"
address = 0x82199654
registers = ["r31", "r30", "r11", "f1", "f2", "f3"]

[[midasm_hook]]
name = "DisablePushState"
address = 0x821A03F0
jump_address_on_true = 0x821A03FC

[[midasm_hook]]
name = "ObjTarzan_VolatileBranch"
address = 0x8232D3E0
registers = ["r30"]
jump_address_on_true = 0x8232D3E4

[[midasm_hook]]
name = "ObjTarzan_PatchStaticDeltaTime"
address = 0x8232D3E4
registers = ["f0", "r30"]
after_instruction = true

[[midasm_hook]]
name = "ObjTarzan_PatchStaticDeltaTime"
address = 0x8232D49C
registers = ["f1", "f3"]
after_instruction = true

[[midasm_hook]]
name = "ObjTarzan_PatchStaticDeltaTime"
address = 0x8232D530
registers = ["f1", "f3"]
after_instruction = true

[[midasm_hook]]
name = "ObjTarzan_PatchStaticDeltaTime"
address = 0x8232D57C
registers = ["f0", "f3"]
after_instruction = true

[[midasm_hook]]
name = "ObjTarzan_PatchDeltaTimeArgument"
address = 0x8232D818
registers = ["f3", "r4", "r1"]

[[midasm_hook]]
name = "ObjEspSwing_DecayRateFix"
address = 0x8232A4D0
registers = ["f0", "f13", "f28"]
jump_address = 0x8232A4D4

[[midasm_hook]]
name = "ObjectInputWarp_ExtendMsgSuckPlayer"
address = 0x82389D70
registers = ["r3", "r4", "f25"]
jump_address = 0x82389D74

[[midasm_hook]]
name = "ObjectInputWarp_ExtendMsgSuckPlayer"
address = 0x82389E48
registers = ["r3", "r4", "f25"]
jump_address = 0x82389E4C

[[midasm_hook]]
name = "PlayerObject_ProcessMsgSuckPlayer_FixForce"
address = 0x8219B64C
registers = ["r28", "f1"]

[[midasm_hook]]
name = "PlayerObject_ProcessMsgSuckPlayer_FixDeltaTime"
address = 0x8219B660
registers = ["r28", "f31"]

# Sonicteam::MyPE::CManageParticle::ManageParticleTask
[[midasm_hook]]
name = "NOP"
address = 0x82645518
jump_address = 0x8264551C

# Sonicteam::MyPE::MyEmitter / Sonicteam::GE1PE::Emitter
[[midasm_hook]]
name = "Spanverse_GE1PE_DeltaTimeFix"
address = 0x82670728
registers = ["f1"]

# Sonicteam::Spanverse::SpangleObject / Sonicteam::Spanverse::SpkCustomObject
[[midasm_hook]]
name = "Spanverse_GE1PE_DeltaTimeFix"
address = 0x8266A580
registers = ["f31"]

# Sonicteam::Spanverse::SpangleParticle
[[midasm_hook]]
name = "Spanverse_GE1PE_DeltaTimeFix"
address = 0x82674030
registers = ["f13"]

# Sonicteam::Spanverse::SpangleLight
[[midasm_hook]]
name = "Spanverse_GE1PE_DeltaTimeFix"
address = 0x82674800
registers = ["f13"]

[[midasm_hook]]
name = "HUDLoadingAlloc"
address = 0x824FAE14
registers = ["r3"]

[[midasm_hook]]
name = "HUDLoadingAlloc"
address = 0x824FAF60
registers = ["r3"]

[[midasm_hook]]
name = "HUDLoadingAlloc"
address = 0x824FB008
registers = ["r3"]

[[midasm_hook]]
name = "HUDLoading_DeltaTimeFix"
address = 0x824D7510
registers = ["r31", "f1"]

[[midasm_hook]]
name = "HUDWindow_PreserveDeltaTime"
address = 0x824FA03C
registers = ["f31", "f1"]

[[midasm_hook]]
name = "HUDWindow_Callback"
address = 0x824FA088
registers = ["f1", "f31"]

[[midasm_hook]]
name = "ObjectVehicleBike_EnemyShot_DisableVehicleCollisionLayer"
address = 0x822ADBC4
registers = ["r31"]
jump_address_on_true = 0x822ADBC8

[[midasm_hook]]
name = "SonicGauge_FixFlags"
address = 0x822196EC
registers = ["r3", "r31"]

[[midasm_hook]]
name = "SonicGauge_FixGemSprite"
address = 0x82185768
registers = ["r30"]

[[midasm_hook]]
name = "SonicGauge_FixGemSprite"
address = 0x821855A4
registers = ["r29"]

[[midasm_hook]]
name = "SonicGauge_FixGemSprite"
address = 0x82177DFC
registers = ["r31"]

[[midasm_hook]]
name = "GameImp_PauseMenu_AddQuitPrefix"
address = 0x8217DF60
registers = ["r1", "r30"]

# Sonicteam::Player::State::SonicFall
[[midasm_hook]]
name = "RemapLightDash"
address = 0x82216B4C
registers = ["r3", "r11"]

# Sonicteam::Player::State::SonicJump
[[midasm_hook]]
name = "RemapLightDash"
address = 0x82216CC8
registers = ["r3", "r11"]

# Sonicteam::Player::State::SonicWideSpring
[[midasm_hook]]
name = "RemapLightDash"
address = 0x82216F14
registers = ["r3", "r11"]

# Sonicteam::Player::State::SonicHomingAfter
[[midasm_hook]]
name = "RemapLightDash"
address = 0x8221745C
registers = ["r3", "r11"]

# Sonicteam::Player::State::SonicBound
[[midasm_hook]]
name = "RemapLightDash"
address = 0x82217CD4
registers = ["r3", "r11"]

# Sonicteam::Player::State::SonicWait
[[midasm_hook]]
name = "RemapLightDash"
address = 0x82218B24
registers = ["r3", "r11"]

# Sonicteam::Player::State::SonicWalk
[[midasm_hook]]
name = "RemapLightDash"
address = 0x82218DF8
registers = ["r3", "r11"]

# Sonicteam::Player::State::SonicRun
[[midasm_hook]]
name = "RemapLightDash"
address = 0x822190D8
registers = ["r3", "r11"]

# Sonicteam::Player::State::FastRun
[[midasm_hook]]
name = "RemapLightDash"
address = 0x82211660
registers = ["r3", "r11"]

# Sonicteam::Player::State::ShadowWait
[[midasm_hook]]
name = "RemapLightDash"
address = 0x821A5504
registers = ["r3", "r11"]

# Sonicteam::Player::State::ShadowWalk
[[midasm_hook]]
name = "RemapLightDash"
address = 0x821A57C8
registers = ["r3", "r11"]

# Sonicteam::Player::State::ShadowRun
[[midasm_hook]]
name = "RemapLightDash"
address = 0x821A5A90
registers = ["r3", "r11"]

# Sonicteam::Player::State::ShadowFall
[[midasm_hook]]
name = "RemapLightDash"
address = 0x821A5D58
registers = ["r3", "r11"]

# Sonicteam::Player::State::ShadowJump
[[midasm_hook]]
name = "RemapLightDash"
address = 0x821A5F60
registers = ["r3", "r11"]

# Sonicteam::Player::State::ShadowWideSpring
[[midasm_hook]]
name = "RemapLightDash"
address = 0x821A6270
registers = ["r3", "r11"]

# Sonicteam::Player::State::ShadowHomingAfter / Sonicteam::Player::State::ShadowChaosSpearAfter
[[midasm_hook]]
name = "RemapLightDash"
address = 0x821A6794
registers = ["r3", "r11"]

# Sonicteam::Player::State::SonicWalk
[[midasm_hook]]
name = "RemapAntigravityEnter"
address = 0x82218E5C
registers = ["r11", "r28"]

# Sonicteam::Player::State::SonicRun
[[midasm_hook]]
name = "RemapAntigravityEnter"
address = 0x8221913C
registers = ["r11", "r28"]

# Sonicteam::Player::State::SonicSliding
[[midasm_hook]]
name = "RemapAntigravityExit"
address = 0x82217AB0
registers = ["r11", "r30"]

[[midasm_hook]]
name = "AntigravityRetainsMomentum"
address = 0x82217968
jump_address_on_true = 0x8221796C

[[midasm_hook]]
name = "AntigravityRetainsMomentum"
address = 0x82217970
jump_address_on_true = 0x82217974

[[midasm_hook]]
name = "UnlimitedAntigravity"
address = 0x82217A94
jump_address_on_true = 0x82217A98

[[midasm_hook]]
name = "DemoGMCamera_InvertHorizontal"
address = 0x8218CC64
registers = ["f0"]

[[midasm_hook]]
name = "DemoGMCamera_InvertVertical"
address = 0x8218CC6C
registers = ["f0"]

# Sonicteam::Player::Sound::SuperSonic
[[midasm_hook]]
name = "Super3_DisableChangeRequestHint"
address = 0x8226B8EC
jump_address_on_true = 0x8226B910

# Sonicteam::Player::Sound::SuperShadow / Sonicteam::Player::Sound::SuperSilver
[[midasm_hook]]
name = "Super3_DisableChangeRequestHint"
address = 0x8226AB4C
jump_address_on_true = 0x8226AB70

[[midasm_hook]]
name = "InfiniteLives"
address = 0x821857B0
jump_address_on_true = 0x821857B4
